@charset "utf-8";
/* CSS Document */

h1
{
	color:#00F;
	size:auto;
	font:"Comic Sans MS", cursive;
}

h2
{
	color:#000;
}

h3
{
	color:#C00;
	font:"Comic Sans MS", cursive;
}

h4
{
	color:#009;
}

b
{
	color:#009;
}

p
{
	color:#000;
}

.menu
{
	color:#000;
	background-color:#C7EFEF;
	
}

#imagen
{
	border-radius:15px; 
	padding:20px; 
	/*width: 250px; */
	background-color:rgba(110,120,120,0.2);
	
	/*box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
            -webkit-box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
            -moz-box-shadow: 5px 10px 7px rgba(0,0,0,0.5);*/
}